body {
  margin: 0;
  padding: 0;
  background-color: #7c1f3a;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #7c1f3a;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  letter-spacing: 1px;
}

main {
  background-color: #e8e8e8; 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marco {
  width: 600px;
  height: 400px;
  border: 4px solid #7c1f3a;
  box-sizing: border-box;
  border-radius: 6px;
  z-index: 2;
  margin: auto;
  inset: 0;
}

footer {
  background-color: #9c2b52; 
  text-align: center;
  padding: 20px 0;
  font-size: 1.3em;
}