body {
  margin: 0;
  padding: 0;
  background-color: #7c1f3a;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #7c1f3a;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  letter-spacing: 1px;
}

main {
  background-color: #e8e8e8; 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marco {
  width: 600px;
  height: 400px;
  border: 4px solid #7c1f3a;
  box-sizing: border-box;
  border-radius: 6px;
  z-index: 2;
  margin: auto;
  inset: 0;
}

footer {
  background-color: #9c2b52; 
  text-align: center;
  padding: 20px 0;
  font-size: 1.3em;
}

.boton-regresar {
  position: absolute;
  top: 1%;
  right: 15px;
  left: auto;
  background-color: #9c2b52;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  transition: 0.2s ease;
  z-index: 1000;
}

.boton-regresar:hover {
  background-color: #5a002d;
  transform: scale(1.03);
}
